html
{
    padding:5px;
    background-color: #f2f2f2;
}



.top
{
    background-color: #660000;
    height:140px;
}
.heading
{
  text-align: center;
    font-family:serif;
    font-weight: bolder;
    font-size:35px;
    color:antiquewhite;
}




.div_Left
{
    float: left;
    padding: 20px;
    height:100%;
    width:28%;
    background-color: white;
}
.pic
{
    width: 100%;
    height: auto;
}
.p1
{
    font-size:30px;
    text-align: center;
    font-weight: bolder;
    color: #800000;
}
.hrline
{
  width: 60%;
 border:2px solid #666666;

}
 .left_data_heading
 {
   font-size:25px;
   text-align: center;
   font-weight: bolder;
   color:#511515;

 }
.table_data_left, .table_data_right
{
  font-size:20px;
  text-align: center;
  font-weight: bolder;
  color: #7a1f1f;
}





.divRight
{
    padding: 20px;
    float:right;
    width:65%;
    background-color: white;
    border-bottom: 5px solid gray;
    margin-bottom:50px;
}
.right_heading
{
  font-size:25px;
  text-align: center;
  font-weight: bolder;
  color: #511515;


}
.right_data
{
  font-size:20px;
  text-align: center;
  font-weight: bolder;
  color: #7a1f1f;
  line-height: 30px;
}

.table_data_right, .table_right_data
{
    border:2px solid black;
    border-collapse:collapse;
    background-color:#f5f5f0;
}



.right_data_left_display
{
  font-size:20px;
  text-align: left;
  font-weight: bolder;
  color: #7a1f1f;
  line-height: 30px;
}
.sign
{
float:right;
height:80px;
width:300px;
}

.signature
{
  padding-right:50px;
  font-size:20px;
  text-align: right;
  font-weight: bolder;
  color: #660000;
  line-height: 30px;
}
.div{
}
